<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/mentor.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/css/students.css" media="screen">
        <!-- <link href="https://fonts.googleapis.com/css?family=Jua|Metal+Mania" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Jua|Metal+Mania|Pacifico" rel="stylesheet">
    </head>
    <body>
    <div class="contentbox">
    {% block content %}{% endblock %}
    </div>
    <footer></footer>
    </body>
</html>