html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
 */


html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 0%;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    background-image: url("../pictures/background.jpg")
}
.navigationbar {
    position: fixed;
    top: 0pt;
    left: 0pt;
    width: 100%;
    z-index: 2;
}
.navigationbar nav {
    display: flex;
    background-color: rgba(6, 6, 124, 0.938);
    justify-content: space-between;
    max-height: 80px;
    padding: 2%;    
    border-radius: 1%;
    background: linear-gradient(rgb(6, 6, 124), rgba(255, 255, 255, 0.275));
    /* margin-bottom: 7%; */
} 
.navigationbar h1 {
    font-family: 'Jua', sans-serif;
    font-family: 'Metal Mania', cursive;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    margin: auto;
    /* margin-left: 40%; */
    /* text-shadow: -1px 0 rgb(36, 36, 105), 0 1px rgb(36, 36, 105), 1px 0 rgb(36, 36, 105), 0 -1px rgb(36, 36, 105); */
    font-size: 40px;
}
.navigationbar a{
    position: relative;
    height: 100%;
    /* margin: auto; */
    /* margin-right: 2%; */
    font-family: 'Jua', sans-serif;
    font-family: 'Metal Mania', cursive;
    text-decoration: none;
    font-size: 20px;
    text-shadow: -1px 0 rgb(36, 36, 105), 0 1px rgb(36, 36, 105), 1px 0 rgb(36, 36, 105), 0 -1px rgb(36, 36, 105);
    color: rgb(238, 233, 233);
}
.navigationbar a:hover{
    opacity: 0.7;
}
.options {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
    margin-top: 16%;
    margin-bottom: 13%;
    /* position: fixed; */
}
.optioncontainer {
    width: 30%;
    height: 200px;
    position: relative;
    background-size: cover;
    background-color: rgba(7, 7, 68, 0.808);
    border: 2px solid white;
}
.optioncontainer img{
    height: 100%;
    width: 100%;
    z-index: 5;
}
.optioncontainer a {
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.optioncontainer span {
    margin-right: 15px;
    margin-top: 17%;
    position: absolute;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 5px rgb(1, 0, 10), 0 0 5px rgb(0, 0, 8);
}
.options .optioncontainer:hover {
    filter: grayscale(100%);
    text-shadow: 0 0 5px rgb(16, 5, 109), 0 0 5px rgb(21, 21, 218);
    color: red;
    /* width: 48.5%; */
    /* height: 196px; */
    /* border: 2px solid white; */
}
.contentbox{
    margin-top:3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
footer {
    z-index: 5;
    position: fixed;
    width: 100%;
    bottom: 0pt;
    left: 0pt;
    display: flex;
    background-color: rgba(6, 6, 124, 0.938);
    /* justify-content: space-between; */
    height: 25px;
    padding: 2%;    
    border-radius: 1%;
    background: linear-gradient(rgba(255, 255, 255, 0.275), rgb(6, 6, 124));
}