.classescontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    margin: auto 0;
    position: fixed;
    margin-top: 15%;
    justify-content: space-evenly;
}
.classbox {
    border:none;
    width: 70%;
    text-shadow: 0 0 1.5px rgb(247, 244, 244), 0 0 2.5px rgb(10, 10, 112);
    height: 330px;
    position: relative;
}
.classbox:hover {
    border: 2px solid white;
    text-shadow: 0 0 3px rgb(247, 244, 244), 0 0 5px rgb(242, 242, 245);
    width: 32%;
    height: 324px;
}

@media screen and (min-width: 600px) {
    .classbox {
        width: 49%;
    }
}
@media screen and (min-width: 1000px) {
    .classbox {
        width: 32%;
    }
}
.classbox a {
    height: 100%;
    display: inline-block;
    text-decoration: none;
}
.classbox img {
    height: 100%;
    width: 100%;
}
.classbox span {
    top: 60%;
    left: 20%;
    position: absolute;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    padding: 4%;
    font-size: 50px;
    justify-content: center;
}
.studentscontainer {
    max-width: 1200px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    background-color: rgba(4, 4, 75, 0.645);
    margin-top: 2%;
    border-radius: 5%;
    border: 2px dashed rgb(248, 245, 245);
    padding: 1%;
}
.studentsbox {
    /* padding: 5; */
    position: relative;
    line-height: 2em;
    min-width: 25%;
    max-width: 50%;
    text-align: center;
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center; */
}
.studentsbox a {
    padding: 3px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.studentsbox:hover{
    text-shadow: 0 0 3px rgb(247, 244, 244), 0 0 5px rgb(242, 242, 245);
}

.addbutton {
    border-radius: 50%;
    margin-top: 8%;
}
.addbutton button{
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 0 0 1px rgb(250, 3, 3), 0 0 1px rgb(248, 3, 3);
    text-align: center;
    border: none;
}
.savebutton {
    margin-top: 8%;
}
.savebutton button {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    font-family: 'Pacifico', cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 0 0 1px rgb(250, 3, 3), 0 0 1px rgb(248, 3, 3);
    text-align: center;
    border: 2px solid white;
}
.savebutton button:hover {
    border: 4px solid white;
    border-radius: 10%;
}
.addbutton button:hover {
    text-shadow: 0 0 3px rgb(245, 3, 3), 0 0 5px rgb(245, 7, 11);
}

#studentsform {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type=text], select {
    padding: 6px;
    border: 2px solid #fdfdfa;
    background-color: #6a56e909;
    border-radius: 4px;
    resize: vertical;
    color: white;
}
input[type=text]:hover {
    border: 3px solid white;
    padding: 5px;
}
::placeholder {
    color: white;
    opacity: 0.5;
}

label {
    padding: 0%;
    color: #f9f8f8fd;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
}

input[type=submit] {
    background-color: #fcce02cb;
    color: rgb(10, 1, 1);
    padding: 5px 10px;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Anton', sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    opacity: 0.7;
}
.animate {
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.col-25 {
    width: 40%;
    margin-top: 10px;
}

.col-75 {
    width: 60%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.row {
    display: flex;
    justify-content: space-between;
}