# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ package
quest-store/.idea
quest-store/Quest_Store/.idea
Quest_Store/.idea/
Quest_Store/.classpath
Quest_Store/.priject
Quest_Store/.settings
Quest_Store/pom.xml

# ConnectionClass
Quest_Store/src/main/java/com/codecool/Connection/ConnectionBuilder.java

# xml files
*.xml

#iml files
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
