{% extends "mentorAdminLayout.twig" %}
{% block title %}Mentor{% endblock %}
{% block content %}
        <header class="navigationbar">
            <nav>
                <h1>Quest Store</h1>
                <a href="">Account</a>
            </nav>
        </header>
        <div class="options">
            <div id="optioncontainer" class="optioncontainer" style="background-image: url(pictures/students.png)">
                <a id="optionlink" href="studentsmanagement.html">
                    <span>Manage Students</span>
                </a>
            </div>
            <div id="optioncontainer" class="optioncontainer">
                <a id="optionlink" href="queststore.html" style="background-image: url(pictures/queststore.jpg)">
                    <span id="optionspan">Quest<br />Store</span>
                </a>    
            </div>
        </div>
{% endblock %}