{% extends "../layouts/mentorAdminLayout.twig" %}
{% block title %}Class Management{% endblock %}
{% block content %}
<header class="navigationbar">
    <nav>
        <a style="text-align: left" href="//TODO: what_link">HOME</a>
        <h1>Quest Store</h1>
        <a href="">Account</a>
    </nav>
</header>
<div class="classescontainer">
    {% for class in classes %}
    <div class="classbox">
        <a href="classmanagement.html"> //TODO: GET/POST
            <img src="pictures/class.jpg"/>
            <span>{{ class.name }}</span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}