{% extends "../layouts/mentorAdminLayout.twig" %}
{% block title %}admin{% endblock %}
{% block content %}
 <header class="navigationbar">
            <nav>
                <h1>Quest Store</h1>
                <a href="">Account</a>
            </nav>
        </header>
        <div class="options">
            <div id="optioncontainer" class="optioncontainer" style="background-image: url(/static/pictures/addclass.jpg)">
                <a id="optionlink" href="addclass.html">
                    <span>Add<br />Class</span>
                </a>
            </div>
            <div id="optioncontainer" class="optioncontainer" style="background-image: url(/static/pictures/addmentor.jpeg)">
                <a id="optionlink" href="addmentor.html">
                    <span id="optionspan">Add<br />Mentor</span>
                </a>    
            </div>
            <div id="optioncontainer" class="optioncontainer" style="background-image: url(/static/pictures/addlevle.jpg)">
                <a id="optionlink" href="addlevel.html">
                    <span>Add<br />Level</span>
                </a>
            </div>
        </div>
{% endblock %}